.search-button{
    width: 12%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-left:2%;
    background-color: #ffff;
}

.search-button:hover{
    background-color: black;
    color: #ffff;
}